{% extends 'base.html' %}
{% block title %}>Gestione Contratti CDR{% endblock %}
{% block toolbar %}
<div class=" align-items-center gap-2">
    <div class="text-gray-700">Totale contratti: <span class="text-white" id="total-contracts">0</span></div>
    <div class="text-gray-700">Ultimo aggiornamento: <span class="text-white" id="last-updated">-</span></div>
</div>
<div class="col-4">
    <input type="text" id="mySearch" class="form-control form-control-sm" placeholder="Cerca...">
</div>
<div class="d-flex align-items-center gap-2">
    <div class="btn-group">
        <button id="edit_button" type="button" class="btn btn-sm btn-primary" ><i class="fa-solid fa-pen-to-square me-2 fs-3"></i>Modifica</button>
        <button id="save_all" type="button" class="btn btn-sm btn-warning disabled" onclick="saveAllContracts()"><i class="fa-solid fa-floppy-disk me-2 fs-3"></i>Salva Tutti i Contratti</button>
        <button id="reload" type="button" class="btn btn-sm btn-info" onclick="loadContracts('load')"><i class="fa-solid fa-arrows-rotate me-2 fs-3"></i>Ricarica Dati</button>
    </div>
</div>
{% endblock %}     
{% block content %}   
<div id="kt_app_content" class="app-content  flex-column-fluid " >
    <div id="kt_app_content_container" class="app-container  container-fluid ">
        <div class="row">
                <pre id="test"></pre>
        </div>
    </div>
</div>



</body>
</html>
{% endblock %}

{% block scripts %}
 <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
 <script>

    // let contractsData = {};
    // let isEditMode = false;
    // let contractTypeOptions = [];
    // let odooclient = [];
    // var target = document.querySelector("#kt_app_main"); 
    //     var blockUI = new KTBlockUI(target);
    //     if (blockUI.isBlocked()) {
    //         blockUI.release();
    //     } else {
    //         blockUI.block();
    //     }
    // // Carica contratti all'avvio
    // document.addEventListener('DOMContentLoaded', function() {
        
    //     loadContracts('load');
    //     document.getElementById('edit_button').addEventListener('click', function () {
    //             toggle_button('edit_button', 'fa-pen-to-square', 'fa-circle-xmark', 'Modifica', 'Fine modifica', 'loadContracts("load")', 'loadContracts("edit")');
    //     });
    //     // document.getElementById('reload').addEventListener('click', function () {
    //     //      toggle_button('edit_button', 'fa-pen-to-square', 'fa-circle-xmark', 'Modifica', 'Fine modifica', 'loadContracts("load")', 'loadContracts("edit")');
    //     // });
    // });
    
    
    // async function loadContracts(action) {
    //     try {
    //         const response = await fetch('/api/cdr/contracts_config');
    //         const data = await response.json();
            
    //         if (data.success) {
    //             contractsData = data.data;
    //             if(isEditMode === true) {
    //                 $('#kt_datatable1').DataTable().clear().destroy();
    //                 loadSelectOptions(function () {
    //                     edit_datatables('#kt_datatable');
    //                 });

    //             } else {
    //                 $('#kt_datatable1').DataTable().clear().destroy();
    //                 view_datatables('#kt_datatable');
    //             }
                
    //             document.getElementById('total-contracts').textContent = data.contracts_count;
    //             document.getElementById('last-updated').textContent = new Date(data.last_updated).toLocaleString('it-IT').replace(',',' - ');
                
    //             // form.style.display = 'block';
    //         } else {
    //             throw new Error(data.message || 'Errore nel caricamento');
    //         }
    //     } catch (err) {
    //         toastr.error(`I contratti non sono stati caricati, riprova.`, "Errore caricamento contratti");
    //     }
    
    // }

    // function toggle_button(id, icon1, icon2, text1, text2, action1, action2) {
        
    //     const this_button = document.getElementById('edit_button');
    //     const icon = this_button.querySelector('i');
    //     const isEdit = icon.classList.contains(icon1);

    //     if (isEdit) {
    //         blockUI.block();
    //         isEditMode = true;
    //         // Cambia in modalità "load"
    //         icon.classList.replace(icon1, icon2);
    //         this_button.innerHTML = `<i class="fas ${icon2}"></i> ${text2}`;
    //         // this_button.setAttribute('onclick', action2);
    //         loadContracts("edit");
            
    //     } else {
    //         // Cambia in modalità "edit"
    //         isEditMode = false;
    //         icon.classList.replace(icon2, icon1);
    //         this_button.innerHTML = `<i class="fas ${icon1}"></i> ${text1}`;
    //         // this_button.setAttribute('onclick', action2);
    //         loadContracts("load"); 
    //     }
    // }
    
    // /**Funzione che abilita DataTables per la tabella specificata */

    // function view_datatables(id){
    //     const save_all_button = document.getElementById('save_all');
    //     save_all_button.classList.add('disabled');
    //     table = new DataTable(id,{
    //         destroy: true,
    //         responsive: true,
    //         pageLength: 10,
    //         lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "Tutti"] ],
    //         //Ordine Colonne
    //         "columns": [
    //             {   
    //                 data: "contract_code",
    //                 title: "Contr. N.",
    //                 width: "7%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     // var date_db = moment(data).format('DD/MM/YYYY - HH:mm:ss');
    //                     return data;
    //                 },
    //             },
    //             {   
    //                 data: "phone_number",
    //                 title: "N. telefono",
    //                 width: "15%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     // var date_db = moment(data).format("DD/MM/YYYY - HH:mm");
    //                     return data;
    //                 },
    //             },
    //             {   
    //                 data: "contract_name",
    //                 title: "Cliente",
    //                 width: "23%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     // return remove_char(data, '');
    //                     return data
    //                 },
    //             },
    //             {   
    //                 data: "contract_type",
    //                 title: "Tipo Contratto",
    //                 width: "15%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     // var date_db = moment(data).format("DD/MM/YYYY - HH:mm");
    //                     return data
    //                 },
    //             },
    //             {   
    //                 data: "notes",
    //                 title: "Note",
    //                 width: "38%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     // var date_db = moment(data).format("DD/MM/YYYY - HH:mm");
    //                     return data;
    //                 },
    //             },
    //             {   
    //                 data: "id", 
    //                 title: "",
    //                 width: "2%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     // var uid_rif = row['uid'];
    //                     // //    return "<button class='text-white btn btn-block btn-secondary btn-xs' data-toggle='modal' data-link='dettagli.php?destinazione=utente&id_rif="+row[4]+"' data-id='" + row[4] +"' data-target='#ajax' >DETTAGLI</button>";
    //                     // //    return "<a data-toggle='modal' data-link='dettagli.php?destinazione=utente&id_rif="+row[4]+"' data-id='" + row[4] +"' data-target='#ajax' ><i role='button' class='cursor-pointer fas  fa-search-plus' data-toggle='tooltip' title='Dettagli' ></i></a>";
    //                     // return   `<div class="btn-group btn-group-sm">
    //                     //                 <!--<button data-toggle='edit' data-id="${uid_rif}" id="edit" type="button" data-bs-toggle="tooltip" title="${text('MODIFICA')}" class="w-25px h-25px btn-icon btn btn-sm btn-warning float-right text-uppercase">
    //                     //                     <i class="fas fa-pencil-alt text-light-warning"></i>
    //                     //                 </button>-->
    //                     //                 <button data-bs-toggle="block_modal" data-bs-target="#kt_modal_scrollable" data-link='' data-id="${data}" id="detail" type="button" data-bs-toggle="tooltip" title="${text('DETTAGLI')}"class="w-25px h-25px btn-icon btn btn-sm btn-primary float-right text-uppercase">
    //                     //                         <i class="fas  fa-search-plus"></i>
    //                     //                 </button>
    //                     //             </div>`  ;
    //                     return "";
    //                 }  
    //             },
    //         ],
    //         //Ordina i record in modo crescente in base alla colonna 1
    //         "order": [
    //             [0, 'asc']
    //         ],   
    //         select: {
    //             style: 'multi',
    //             selector: 'td:first-child input[type="checkbox"]',
    //             className: 'row-selected'
    //         },
    //         processing: true,
    //         // serverSide: true,
    //         searchDelay:250,
    //         // Personalizzazioni richieste al db
            
    //         ajax:{ 
    //             url: "/api/contracts/datatable/ajax",    
    //             type: "GET",
    //             dataSrc: 'data'         
    //         },
            
    //         "initComplete": function(settings, json){
    //             blockUI.release(); 
    //             $('#mySearch').on('keyup', function () {
    //                 table.search(this.value).draw();
    //             });
    //         }
    //     })
    // }

    // function edit_datatables(id){
    //     const save_all_button = document.getElementById('save_all');
    //     save_all_button.classList.remove('disabled');
    //     table = new DataTable(id,{
    //         destroy: true,
    //         responsive: true,
    //         pageLength: 10,
    //         lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "Tutti"] ],
    //         //Ordine Colonne
    //         "columns": [
    //             {   
    //                 data: "contract_code",
    //                 title: "Contr. N.",
    //                 width: "7%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     return data;
    //                 },
    //             },
    //             {   
    //                 data: "phone_number",
    //                 title: "N. telefono",
    //                 width: "15%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     html = `<span class="fs-2"> ${data || ''}</span>`
    //                     return html;
    //                 },
    //             },
    //             {   
    //                 data: "contract_name",
    //                 title: "Cliente",
    //                 width: "23%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     // Salva il valore selezionato nei data attributes per uso successivo
    //                     html = `
    //                     <select 
    //                         id="odoo_${row.contract_code}" 
    //                         class="form-select form-select-sm odoo-select" 
    //                         data-control="select2" 
    //                         data-dropdown-css-class="" 
    //                         data-placeholder="Seleziona cliente" 
    //                         data-selected="${row.odoo_client_id || ''}"
    //                         data-selected-text="${data || ''}"
    //                         data-hide-search="false">
    //                     </select>
    //                     `
    //                     return html
    //                 },
    //             },
    //             {   
    //                 data: "contract_type",
    //                 title: "Tipo Contratto",
    //                 width: "15%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     html = `
    //                         <select 
    //                             id="contracttype_${row.contract_code}" 
    //                             class="form-select form-select-sm contract-type-select" 
    //                             data-control="select2" 
    //                             data-dropdown-css-class="" 
    //                             data-placeholder="Seleziona tipologia" 
    //                             data-selected="${data || ''}"
    //                             data-hide-search="true">
    //                         </select> 
    //                     `
    //                     return html
    //                 },
    //             },
    //             {   
    //                 data: "notes",
    //                 title: "Note",
    //                 width: "38%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     html = `
    //                         <textarea id="notes_${row['contract_code']}" name="notes_${row['contract_code']}" 
    //                             placeholder="Note aggiuntive" 
    //                             rows="1" style="resize: vertical;" 
    //                             class="form-control form-control-sm">${data || ''}</textarea>
    //                     `
    //                     return html;
    //                 },
    //             },
    //             {   
    //                 data: "id", 
    //                 title: "",
    //                 width: "2%", orderable: true, searchable: true, visible: true, className: "align-middle", responsivePriority: 1, targets: 0,
    //                 "render": function ( data, type, row ) {
    //                     html = `
    //                         <button type="button" onclick="saveContract('${row['contract_code']}')" class="btn btn-icon btn-sm btn-primary">
    //                             <i class="fa-solid fa-floppy-disk fs-2"></i>
    //                             <span class="indicator-progress">
    //                                 Attendi... 
    //                                 <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
    //                             </span>
    //                         </button>
    //                     `
    //                     return html;
    //                 }  
    //             },
    //         ],
    //         //Ordina i record in modo crescente in base alla colonna 1
    //         "order": [
    //             [0, 'asc']
    //         ],   
    //         select: {
    //             style: 'multi',
    //             selector: 'td:first-child input[type="checkbox"]',
    //             className: 'row-selected'
    //         },
    //         processing: true,
    //         searchDelay:10000,
            
    //         ajax:{ 
    //             url: "/api/contracts/datatable/ajax",    
    //             type: "GET",
    //             dataSrc: 'data'         
    //         },
            
    //         // Evento che si scatena ad ogni ridisegno della tabella (inclusi cambi pagina)
    //         drawCallback: function () {                
    //             // Distruggi tutti i select2 esistenti prima di ricrearli
    //             $('.contract-type-select.select2-hidden-accessible').select2('destroy');
    //             $('.odoo-select.select2-hidden-accessible').select2('destroy');
                
    //             // Inizializza select per tipo contratto
    //             $('.contract-type-select').each(function () {
    //                 const $select = $(this);
    //                 const selectedValue = $select.data('selected');
                    
    //                 // Inizializza select2
    //                 $select.select2({
    //                     data: contractTypeOptions,
    //                     allowClear: true
    //                 });
                    
    //                 // Imposta il valore selezionato
    //                 if (selectedValue && selectedValue !== '') {
    //                     // Verifica che il valore esista nelle opzioni
    //                     const optionExists = contractTypeOptions.some(opt => 
    //                         opt.id == selectedValue || opt.text == selectedValue
    //                     );
                        
    //                     if (optionExists) {
    //                         $select.val(selectedValue).trigger('change.select2');
    //                     } else {
    //                         console.warn(`Valore non trovato nelle opzioni tipo contratto: ${selectedValue}`);
    //                         $select.val(null).trigger('change.select2');
    //                     }
    //                 } else {
    //                     $select.val(null).trigger('change.select2');
    //                 }
    //             });

    //             // Inizializza select per clienti Odoo
    //             $('.odoo-select').each(function () {
    //                 const $select = $(this);
    //                 const selectedValue = $select.data('selected');
    //                 const selectedText = $select.data('selected-text');
                    
    //                 // Inizializza select2
    //                 $select.select2({
    //                     data: odooclient,
    //                     allowClear: true
    //                 });
                    
    //                 // Imposta il valore selezionato
    //                 if (selectedValue && selectedValue !== '') {
    //                     // Verifica che il valore esista nelle opzioni
    //                     const optionExists = odooclient.some(opt => 
    //                         opt.id == selectedValue
    //                     );
                        
    //                     if (optionExists) {
    //                         $select.val(selectedValue).trigger('change.select2');
    //                     } else {
    //                         // Se il valore non esiste, aggiungi un'opzione temporanea se abbiamo il testo
    //                         if (selectedText && selectedText !== '') {
    //                             const newOption = new Option(selectedText, selectedValue, true, true);
    //                             $select.append(newOption);
    //                         } else {
    //                             console.warn(`Valore non trovato nelle opzioni cliente Odoo: ${selectedValue}`);
    //                             $select.val(null).trigger('change.select2');
    //                         }
    //                     }
    //                 } else {
    //                     $select.val(null).trigger('change.select2');
    //                 }
    //             });
    //         },
            
    //         "initComplete": function(settings, json){
    //             blockUI.release(); 
    //             $('#mySearch').on('keyup', function () {
    //                 table.search(this.value).draw();
    //             });
    //         }
    //     });
    // }

    // function getFirstNumber(input) {
    //     if (!input) return null;

    //     const parts = input.includes(',') ? input.split(',') : [input];
    //     const first = String(parts[0]).trim();
    //     return parseInt(first, 10) || null;
    // }

    
    
    // function loadContractTypeOptions_callback(callback) {
    //     // if (contractTypeOptions) {
    //     //     callback(); // Se già presenti, chiama subito
    //     //     return;
    //     // }

    //     $.ajax({
    //         url: '/api/cdr/contract_type',
    //         dataType: 'json',
    //         success: function (data) {
    //             contractTypeOptions = data;
    //             callback();
    //         },
    //         error: function () {
    //             console.error("Errore nel caricamento della tipologia contratti");
    //             contractTypeOptions = [];
    //             callback();
    //         }
    //     });
    // }

    // function loadClientOptions_callback(callback) {
    //     // if (contractTypeOptions) {
    //     //     callback(); // Se già presenti, chiama subito
    //     //     return;
    //     // }

    //     $.ajax({
    //         url: '/api/odoo/partners/select',
    //         dataType: 'json',
    //         success: function (data) {
    //             odooclient = data.results;
    //             callback();
    //         },
    //         error: function () {
    //             console.error("Errore nel caricamento dell'elenco utenti Odoo");
    //             odooclient = [];
    //             callback();
    //         }
    //     });
    // }

    // function loadContractTypeOptions() {
    //     $.ajax({
    //         url: '/api/cdr/contract_type',
    //         dataType: 'json',
    //         success: function (data) {
    //             contractTypeOptions = data;
    //         },
    //         error: function () {
    //             console.error("Errore nel caricamento della tipologia contratti");
    //             contractTypeOptions = [];
    //         }
    //     });
    // }
    // function loadClientOptions() {
    //     $.ajax({
    //         url: '/api/odoo/partners/select',
    //         dataType: 'json',
    //         success: function (data) {
    //             odooclient = data.results;
    //         },
    //         error: function () {
    //             console.error("Errore nel caricamento dell'elenco utenti Odoo");
    //             odooclient = [];
    //         }
    //     });
    // }

    // function loadSelectOptions(callback) {
    //     $.when(
    //         $.getJSON('/api/cdr/contract_type', function (data) {
    //             contractTypeOptions = data;
    //         }),
    //         $.getJSON('/api/odoo/partners/select', function (data) {
    //             odooclient = data.results;
    //         })
    //     ).done(function () {
    //         callback();
    //     }).fail(function () {
    //         alert("Errore nel caricamento dei dati");
    //     });
    // }

    // async function saveContract(contractCode) {
    //     // const statusElement = document.getElementById(`status_${contractCode}`);
    //     // statusElement.textContent = 'Salvando...';
    //     // statusElement.style.color = 'blue';
        
    //     // const contractName = document.getElementById(`name_${contractCode}`).value.trim();
    //     const select = document.getElementById(`odoo_${contractCode}`);
    //     const contractName = select.options[select.selectedIndex].text;
    //     const odooClientId = document.getElementById(`odoo_${contractCode}`).value.trim();
    //     const notes = document.getElementById(`notes_${contractCode}`).value.trim();
    //     const contractType = document.getElementById(`contracttype_${contractCode}`).value.trim();
        
    //     const updateData = {
    //         contract_code: contractCode,
    //         contract_name: contractName,
    //         contract_type: contractType,
    //         odoo_client_id: odooClientId,
    //         notes: notes
    //     };
        
    //     // Aggiungi odoo_client_id solo se ha un valore
    //     // if (odooClientId) {
    //     //     updateData.odoo_client_id = parseInt(odooClientId);
    //     // }
        
    //     try {
    //         const response = await fetch('/api/cdr/update_contract', {
    //             method: 'POST',
    //             headers: {
    //                 'Content-Type': 'application/json'
    //             },
    //             body: JSON.stringify(updateData)
    //         });
            
    //         const result = await response.json();
            
    //         if (result.success) {
    //             toastr.success(`Il contratto <span class="fs-3">${contractCode}</span> è stato salvato con successo.`, "Salvato con successo");
    //         } else {
    //             toastr.error(`Il contratto <span class="fs-3">${contractCode}</span> non è stato salvato ricontrolla i dati.`, "Errore nel salvataggio");
    //             throw new Error(result.message || 'Errore nel salvataggio');
    //         }
    //     } catch (error) {
    //         toastr.error(`Il contratto <span class="fs-3">${contractCode}</span> non è stato salvato ricontrolla i dati.`, "Errore nel salvataggio");
    //     }
    // }
    
    // async function saveAllContracts() {
    //     if (blockUI.isBlocked()) {
    //         blockUI.release();
    //         blockUI.destroy();
    //     } else {
    //         blockUI.block();
    //     }
        
    //     let successCount = 0;
    //     let errorCount = 0;
    //     let isAnyModified = false;
    //     const contracts = Object.keys(contractsData.contracts);
    //     let modifiedContracts = [];
        
    //     for (const contractCode of contracts) {
    //         try {
    //             const original = contractsData.contracts[contractCode] || {};
                
    //             // Verifica che gli elementi esistano prima di accedervi
    //             const selectElement = document.getElementById(`odoo_${contractCode}`);
    //             const notesElement = document.getElementById(`notes_${contractCode}`);
    //             const contractTypeElement = document.getElementById(`contracttype_${contractCode}`);
                
    //             // Se gli elementi non esistono, salta questa iterazione
    //             if (!selectElement || !notesElement || !contractTypeElement) {
    //                 console.warn(`Elementi mancanti per il contratto: ${contractCode}`);
    //                 continue; // Continua con il prossimo contratto
    //             }
                
    //             // Gestisci il caso in cui non ci sia un'opzione selezionata
    //             const contractName = selectElement.selectedIndex >= 0 ? 
    //                 selectElement.options[selectElement.selectedIndex].text : '';
    //             const odooClientId = selectElement.value ? selectElement.value.trim() : '';
    //             const notes = notesElement.value ? notesElement.value.trim() : '';
    //             const contractType = contractTypeElement.value ? contractTypeElement.value.trim() : '';
                
    //             const isModified = 
    //                 contractName !== (original.contract_name || '') ||
    //                 odooClientId !== (original.odoo_client_id || '') ||
    //                 contractType !== (original.contract_type || '') ||
    //                 notes !== (original.notes || '');

    //             if (isModified) {
    //                 isAnyModified = true;
    //                 modifiedContracts.push(contractCode);
                    
    //                 const updateData = {
    //                     contract_code: contractCode,
    //                     contract_name: contractName,
    //                     odoo_client_id: odooClientId,
    //                     contract_type: contractType,
    //                     notes: notes
    //                 };
                    
    //                 const response = await fetch('/api/cdr/update_contract', {
    //                     method: 'POST',
    //                     headers: {
    //                         'Content-Type': 'application/json'
    //                     },
    //                     body: JSON.stringify(updateData)
    //                 });
                    
    //                 const result = await response.json();
                    
    //                 if (result.success) {
    //                     successCount++;
    //                 } else {
    //                     errorCount++;
    //                     console.error(`Errore salvando contratto ${contractCode}:`, result.message);
    //                     // Non interrompere il ciclo, continua con il prossimo
    //                 }
    //             }
    //         } catch (error) {
    //             errorCount++;
    //             console.error(`Errore durante il salvataggio del contratto ${contractCode}:`, error);
    //             // Non interrompere il ciclo, continua con il prossimo
    //             continue;
    //         }
            
    //         // Piccola pausa per non sovraccaricare il server
    //         await new Promise(resolve => setTimeout(resolve, 100));
    //     }
        
    //     // Messaggi finali
    //     if (isAnyModified) {
    //         if (successCount > 0) {
    //             toastr.success(`<span class="fs-3">${successCount}</span> contratti sono stati modificati con successo.`, "Dati aggiornati");
    //         }
    //         if (errorCount > 0) {
    //             toastr.warning(`<span class="fs-3">${errorCount}</span> contratti non sono stati salvati a causa di errori.`, "Avviso");
    //         }
    //         blockUI.release();
    //     } else {
    //         toastr.warning(`Nessun contratto è stato modificato.`, "Nessuna modifica");
    //         blockUI.release();
    //     }
    // }
        const fatturaData = {
            partner_id: 1951,
            due_days: 1,
            manual_due_date: "",
            da_confermare: "SI",
            items: [
                {
                product_id: 15,
                quantity: 2,
                price_unit: 100,
                name: "Prodotto 1"
                },
                {
                product_id: 15,
                quantity: 3,
                price_unit: 150,
                name: "Prodotto 2"
                },
                {
                product_id: 15,
                quantity: 1,
                price_unit: 200,
                name: "Prodotto 3"
                },
                {
                product_id: 15,
                quantity: 4,
                price_unit: 75,
                name: "Prodotto 4"
                },
                {
                product_id: 15,
                quantity: 5,
                price_unit: 50,
                name: "Prodotto 5"
                }
            ]
        };

// fetch("http://127.0.0.1:5001/api/fatturazione/genera_fattura", {
//   method: "POST",
//   headers: {
//     "Content-Type": "application/json"
//   },
//   body: JSON.stringify(fatturaData)
// })
// .then(response => response.json())
// .then(data => {
//     document.getElementById("test").textContent = JSON.stringify(data, null, 2);
//     // document.getElementById('test').textContent = data;
//   console.log("Risposta:", data);

// })
// .catch(error => {
//   console.error("Errore nella richiesta:", error);
// });

fetch("http://127.0.0.1:5001/api/fatturazione/genera_fatture_da_cdr", {
  method: "GET",
  headers: {
    "Content-Type": "application/json"
  }
})
.then(response => response.json())
.then(data => {
    document.getElementById("test").textContent = JSON.stringify(data, null, 2);
    // document.getElementById('test').textContent = data;
  console.log("Risposta:", data);

})
.catch(error => {
  console.error("Errore nella richiesta:", error);
});
        
</script>

{% endblock scripts %}
    
    
   

   