{% extends "base.html" %}

{% block title %}CDR Analytics Dashboard{% endblock %}

{% block content %}
  <style>
    .log-line {

    }
  </style>
<div class="container-fluid">
    <!-- Report Recenti -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="card" style="height: calc(100vh - 40px)">
                <div class="card-header">
                    <h5><i class="fas fa-clock"></i> System Logs</h5>
                </div>
                <div class="card-body overflow-scroll">
                    {% for line in logs %}
                        <pre class="log-line mb-0"><code>{{ line }}</code></pre>
                    {% endfor %}
                    
                    <pre id="logs_content" class="log-line mb-0">{{ json }}</pre>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- <script>
fetch('/status')
  .then(res => res.json())
  .then(data => {
    const logOutput = document.getElementById('logs_content');
    logOutput.innerHTML = data.map(line => line + '<br>').join('');
  })
  .catch(err => {
    document.getElementById('logs_content').textContent = 'Errore nel caricamento dei log';
  });
</script> -->
{% endblock %}


